<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @journal.student_id %>
</p>

<p>
  <b>Lesson:</b>
  <%= @journal.lesson_id %>
</p>

<p>
  <b>Mark:</b>
  <%= @journal.mark %>
</p>


<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
