<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <% # @journal.student_id %>
  <%= Student.where(:id => @journal.student_id).pluck(:name).first %>
</p>

<p>
  <b>Lesson:</b>
  <% #@journal.lesson_id %>
  <%= Lesson.where(:id => @journal.lesson_id).pluck(:name).first  %>
</p>

<p>
  <b>Mark:</b>
  <%= @journal.mark %>
</p>


<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
